@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */


#revew-latest {
	overflow: hidden;
}

#revew-latest a {
	cursor: pointer;
	text-decoration: none;
}

#revew-latest .revew-latest-item {
	overflow: hidden;
	position: relative;
}
.review-grid-wrap .first-box .thumbnail-text-wrapper  {
	position: absolute;
	top: 20px;
    left: 20px;
}
.revew-latest-container {
	width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.revew-latest-container::before {
    content: "";
    display: block;
    padding-top: 100%;
}

#revew-latest .revew-latest-item .revew-latest-thumbnail .revew-latest-foreground {
	border-radius: 3px;
}

.review-grid-wrap #revew-latest .revew-latest-title::before {
    content: "YouTube 스타 후기";
    padding: .5em 1em;
    line-height: 1 !important;
    background: #ddd;
	display: inline-block;
    border-radius: 8px;
	
}
.review-grid-wrap .second-box #revew-latest .revew-latest-title::before {
    content: "YouTube 일반 후기";
}
.review-grid-wrap .third-box #revew-latest .revew-latest-title::before {
    content: "인스타그램 후기";
}
.review-grid-wrap .fourth-box #revew-latest .revew-latest-title::before {
    content: "블로그 후기";
}
.review-grid-wrap .fifth-box #revew-latest .revew-latest-title::before {
    content: "홈페이지 후기";
}
.review-grid-wrap .revew-latest-title {
	padding-top: 25px;
}
.review-grid-wrap .first-box .revew-latest-title  {
	padding-top: 0;
}
.review-grid-wrap  #revew-latest .revew-latest-title .text {
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.2;
	height: auto;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	white-space: normal;
	text-decoration: none;
	color: #000000;
	margin: 8px 0;

}
.review-grid-wrap .first-box #revew-latest .revew-latest-title .text  {
	color: #fff;
    font-size: 24px;

}

#revew-latest:hover .revew-latest-title .text  {
	color: #888;
}

#revew-latest .revew-latest-title img {
	display: inline;
	margin: 0;
	width: 14px;
	vertical-align: middle;
	box-shadow: none;
}

#revew-latest .revew-latest-date {
	overflow: hidden;
	text-decoration: none;
	color: #000000;
}
.review-grid-wrap .first-box #revew-latest .revew-latest-date {
	color: #fff;
}
.autoplay-description {
	padding: 8px 0;
}
.description.youtube-id-decription {
    margin-left: 120px;
}