@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */
 .one-slider-section {
    overflow: hidden;
 }
 .vc_row-fluid>.span_12 .wpb_column.one-slider-section {
    padding: 0!important;
 }
.one-latest-slider-list.kboard-swiper .swiper-pagination {
    bottom: -34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-latest-slider-list.kboard-swiper .swiper-pagination .swiper-pagination-bullet {
    background: #000000;
    width: 8px;
    height: 8px;
}

.one-latest-slider-list.kboard-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #6edbd5;
    width: 8px;
    height: 8px;
}
.one-slider-section .kboard-swiper .swiper-button-next, .one-slider-section .kboard-swiper .swiper-button-prev {
    display: inline-block;
    margin: 12px;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
}
.one-slider-section .kboard-swiper .swiper-button-prev {
    right: unset;
    left: -1px;
}
.one-slider-section .kboard-swiper .swiper-button-next svg {
    left: 15px;
    top: 0;
    position: relative;
    width: 10px;
    height: 100%;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1);
    transform: translateX(5px);
}
.one-slider-section .kboard-swiper .swiper-button-next:hover svg {
    transform: translateX(7px);
}
.one-slider-section .kboard-swiper .swiper-button-next::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100px;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1), opacity 0.45s cubic-bezier(.15,.75,.5,1);
}
.one-slider-section .kboard-swiper .swiper-button-next:hover::before {
    transform: scale(1.15);
}

.one-slider-section .kboard-swiper .swiper-button-next::after {
    height: 2px;
    width: 16px;
    background-color: #000;
    content: "";
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -1px;
    display: block;
    transform-origin: right;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1);
    transform: scaleX(0.9) translateX(8px);
    
}
.one-slider-section .kboard-swiper .swiper-button-next:hover::after {
    transform: scaleX(1.1) translateX(8px);
}
.one-slider-section .kboard-swiper .swiper-button-prev::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100px;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1), opacity 0.45s cubic-bezier(.15,.75,.5,1);
}
.one-slider-section .kboard-swiper .swiper-button-prev:hover::before {
    transform: scale(1.15);
}
.one-slider-section .kboard-swiper .swiper-button-prev::after {
    height: 2px;
    width: 16px;
    background-color: #000;
    content: "";
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -1px;
    display: block;
    transform-origin: right;
    transform-origin: left;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1);
    transform: scaleX(0.9) translateX(0px);
    
}
.one-slider-section .kboard-swiper .swiper-button-prev:hover::after {
    transform: scaleX(1.1) translateX(-1px);
}
.one-slider-section .kboard-swiper .swiper-button-prev svg {
    left: 11px;
    top: 0;
    position: relative;
    width: 10px;
    height: 100%;
    transition: transform 0.45s cubic-bezier(.15,.75,.5,1);
}
.one-slider-section .kboard-swiper .swiper-button-prev:hover svg  {
    transform: translateX(-1px);
}
.one-latest-slider-cut-strings {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.one-latest-slider-thumbnail {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 6px;
}

.one-latest-slider-thumbnail img {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100% !important;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 8px;
	box-shadow: none;
	cursor: pointer;
	-webkit-transition: opacity .6s ease .12s;
    transition: opacity .6s ease .12s;
    opacity: 1;
}
.one-latest-slider-list .item-padding::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    display: block;
    z-index: 10;
    content: '';
    opacity: .9;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.53) 100%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    border-radius: 8px;
}
.one-latest-slider-thumbnail .target-image {
    display: none;
}

.one-latest-slider-thumbnail .target-image:first-child {
    display: block;
}

.one-latest-slider-thumbnail .one-latest-slider-foreground {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/foreground.png);
    border-radius: 8px;
}

.one-latest-slider-thumbnail .one-latest-slider-foreground-search {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/search-30.png) no-repeat;
    background-position: center;
    cursor: pointer;
}

.one-latest-slider-thumbnail:hover .one-latest-slider-foreground,
.one-latest-slider-thumbnail:hover .one-latest-slider-foreground-search {
    display: block;
}

.one-latest-slider-container {
    transition: opacity .45s cubic-bezier(.15,.75,.5,1) 0s, transform .45s cubic-bezier(.15,.75,.5,1) 0s;
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.one-latest-slider-container.latest {
    border-radius: 3px;
}
.kboard-list-item:hover .one-latest-slider-container {
	transform: scale(1.1);
}
.one-latest-slider-container video,
.one-latest-slider-container iframe,
.one-latest-slider-container object,
.one-latest-slider-container embed {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.one-latest-slider-container .wp-video,
video.wp-video-shortcode,
.mejs-container,
.mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}

.one-latest-slider-container .mejs-container {
    padding-top: 56.25%;
    min-width: 0 !important;
}

.one-latest-slider-container .wp-video,
.one-latest-slider-container video.wp-video-shortcode {
    max-width: 100% !important;
}

.one-latest-slider-container video.wp-video-shortcode {
    position: relative;
}

.one-latest-slider-container .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.one-latest-slider-container .mejs-controls {
    display: block;
}

.one-latest-slider-container .mejs-button,
.one-latest-slider-container .mejs-time,
.one-latest-slider-container .mejs-time-rail {
    float: left;
}

.one-latest-slider-container .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

.one-latest-slider-container .arve-wrapper,
.one-latest-slider-container .arve-embed-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.one-latest-slider-list {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: -30px 0 30px 0;
    width: 100%;
}

.one-latest-slider-list .kboard-list {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    list-style: none;
    border: 0;
}

.one-latest-slider-list .kboard-list.notice-list {
    margin: -5px 0 10px 0 !important;
    padding: 0 0 10px 0 !important;
    border-bottom: 2px dashed #f6f6f6;
}


.one-latest-slider-list .kboard-list.hompage-review-slider-row-1 .kboard-list-item {
    margin: 5px 0;
    width: 100%;
}

.one-latest-slider-list .kboard-list.hompage-review-slider-row-2 .kboard-list-item {
    width: 49%;
}

.one-latest-slider-list .kboard-list.hompage-review-slider-row-4 .kboard-list-item {
    width: 24%;
}

.one-latest-slider-list .kboard-list.hompage-review-slider-row-5 .kboard-list-item {
    width: 19%;
}

.one-latest-slider-list .kboard-list .kboard-list-item a {
    text-decoration: none;
}


.one-latest-slider-list .kboard-list .kboard-list-item .one-latest-slider-wrap .one-latest-slider-title {
    display: -webkit-box;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    position: absolute;
    bottom: -1px;
    padding: 24px;
    width: 100%;
    z-index: 99;
}
.one-latest-slider-list .kboard-list .kboard-list-item .one-latest-slider-wrap .one-latest-slider-title::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
    content: '';
    opacity: .9;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.53) 100%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    border-radius: 8px;
    z-index: -10;
}
.one-latest-slider-list .kboard-list .kboard-list-item .one-latest-slider-wrap .one-latest-slider-title img {
    display: inline;
    margin: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

.one-latest-slider-list .kboard-list .one-latest-slider-wrap .one-latest-slider-info {
    color: #fff;
    text-align: left;
}
.one-latest-slider-info span {
	font-size: 14px;
}
.one-latest-slider-info > span::after {
	content: "•";
	display: inline-block;
	margin-left: 4px;
}
.one-latest-slider-info > span:last-child::after {
	display: none;
}
.one-latest-slider-info > span.writer-name::after {
	display: none;
}
.one-latest-slider-list .kboard-list .one-latest-slider-wrap .one-latest-slider-info .kboard-info-separator {
    color: #d2d2d2;
}

.one-latest-slider-list .kboard-list .kboard-list-selected .one-latest-slider-wrap .one-latest-slider-title {
    color: #4a90e2;
}