@charset "utf-8";
/**
 * @author https://www.cosmosfarm.com
 */



.kboard-hompage-review-cut-strings {
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
}


.kboard-hompage-review-thumbnail {
	position: relative;
	text-align: center;
	overflow: hidden;
	border-radius: 8px;
}

.kboard-hompage-review-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	vertical-align: middle;
	border-radius: 8px;
	box-shadow: none;
	cursor: pointer;
}

.kboard-hompage-review-thumbnail .target-image {
	display: none;
}

.kboard-hompage-review-thumbnail .target-image:first-child {
	display: block;
}

.kboard-hompage-review-thumbnail .kboard-hompage-review-foreground {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(./images/foreground.png);
	border-radius: 8px;
}

.kboard-hompage-review-thumbnail .kboard-hompage-review-foreground-search {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(./images/search-30.png) no-repeat;
	background-position: center;
	cursor: pointer;
}

.kboard-hompage-review-thumbnail:hover .kboard-hompage-review-foreground,
.kboard-hompage-review-thumbnail:hover .kboard-hompage-review-foreground-search {
	display: block;
}

.kboard-hompage-review-container {
	transition: opacity .45s cubic-bezier(.15,.75,.5,1) 0s, transform .45s cubic-bezier(.15,.75,.5,1) 0s;
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.kboard-list-item .item-padding:hover .kboard-hompage-review-container {
	transform: scale(1.1);
}
.kboard-hompage-review-container.no-image {
	background-color: #d9dbdb;
	background-image: linear-gradient(to bottom, #eeeeee, #d9dbdb);
}

.kboard-hompage-review-container.latest {
	border-radius: 3px;
}

.kboard-hompage-review-container .wp-video,
.kboard-hompage-review-container video,
.kboard-hompage-review-container iframe,
.kboard-hompage-review-container object,
.kboard-hompage-review-container embed {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.kboard-hompage-review-container .wp-video,
video.wp-video-shortcode,
.mejs-container,
.mejs-overlay.load {
	width: 100% !important;
	height: 100% !important;
}

.kboard-hompage-review-container .mejs-container {
	padding-top: 56.25%;
	min-width: 0 !important;
}

.kboard-hompage-review-container .wp-video,
.kboard-hompage-review-container video.wp-video-shortcode {
	max-width: 100% !important;
}

.kboard-hompage-review-container video.wp-video-shortcode {
	position: relative;
}

.kboard-hompage-review-container .mejs-mediaelement {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.kboard-hompage-review-container .mejs-controls {
	display: flex;
}

.kboard-hompage-review-container .mejs-button,
.kboard-hompage-review-container .mejs-time,
.kboard-hompage-review-container .mejs-time-rail {
	float: left;
}

.kboard-hompage-review-container .mejs-overlay-play {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto !important;
	height: auto !important;
}

.kboard-hompage-review-container .arve-wrapper,
.kboard-hompage-review-container .arve-embed-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
}

#kboard-hompage-review-list {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	width: 100%;
}

#kboard-hompage-review-list form {
	margin: 0;
	padding: 0;
}


#kboard-hompage-review-list .kboard-header .kboard-total-count {
	display: table-cell;
}

#kboard-hompage-review-list .kboard-header .kboard-total-count .entry-title {
	margin-right: 16px;
	color: black;
	font-size: 32px;
	font-weight: bold;
}
#kboard-hompage-review-list .kboard-header .kboard-sort {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

#kboard-hompage-review-list .kboard-header .kboard-sort select {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	min-width: 0;
	max-width: none;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #666666;
	border-radius: 0;
	border: 1px solid #f1f1f1;
	background: white;
	vertical-align: middle;
	box-shadow: none;
	box-sizing: content-box;
	text-indent: 0;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;
}

#kboard-hompage-review-list .kboard-header .kboard-sort .kboard-selectmenu-sort-button .ui-icon {
	background: url(./images/sort-16.png) no-repeat;
	background-size: 16px;
	background-position: center;
}

#kboard-hompage-review-list .kboard-header .kboard-sort .kboard-selectmenu-sort-text {
	color: #4a90e2;
}

#kboard-hompage-review-list .kboard-category {
	overflow: hidden;
}

#kboard-hompage-review-list .kboard-category .kboard-category-list {
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	list-style: none;
	line-height: 28px;
}

#kboard-hompage-review-list .kboard-category .kboard-category-list li {
	float: left;
	margin: 0 24px 10px 0;
	padding: 0;
	font-size: 24px;
}

#kboard-hompage-review-list .kboard-category .kboard-category-list li a {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 24px;;
	text-decoration: none;
	font-weight: normal;
}

#kboard-hompage-review-list .kboard-category .kboard-category-list li.kboard-category-selected a {
	color: black;
}

#kboard-hompage-review-list .kboard-selectmenu-sort-button,
#kboard-hompage-review-list .kboard-selectmenu-search-button {
	display: none;
}

#kboard-hompage-review-list .kboard-selectmenu-sort-button span,
#kboard-hompage-review-list .kboard-selectmenu-search-button span {
	height: 26px;
	line-height: 26px;
}

#kboard-hompage-review-list .kboard-tree-category-wrap {
	float: left;
	margin: 0 0 20px 0;
	width: 100%;
}

#kboard-hompage-review-list .kboard-tree-category-wrap select {
	display: inline;
	margin: 0 0 10px 0;
	padding: 5px;
	width: auto;
	height: auto;
	line-height: 1;
	font-size: 20px;
	color: black;
	border-radius: 0;
	border: 1px solid #f1f1f1;
	background: white;
	vertical-align: middle;
	box-shadow: none;
	box-sizing: border-box;
	text-indent: 0;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;
}

#kboard-hompage-review-list .kboard-tree-category-search {
	float: left;
	margin-bottom: 0;
	width: 100%;
}

#kboard-hompage-review-list .kboard-tree-category-search .kboard-search-option-wrap {
	margin-right: 5px;
	float: left;
}

#kboard-hompage-review-list .kboard-tree-category-search .kboard-search-option-wrap.type-select {
	width: auto;
}

#kboard-hompage-review-list .kboard-tree-category-search .kboard-search-option-wrap.type-tab {
	width: 100%;
}

#kboard-hompage-review-list .kboard-tree-category {
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	list-style: none;
	border: 0;
	overflow: hidden;
}

#kboard-hompage-review-list .kboard-tree-category li {
	float: left;
	margin: 0 24px 10px 0;
	padding: 0;
}

#kboard-hompage-review-list .kboard-tree-category li a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 24px;;
	text-decoration: none;
}

#kboard-hompage-review-list .kboard-tree-category li.kboard-category-selected {}

#kboard-hompage-review-list .kboard-tree-category li.kboard-category-selected a {
	color: black;
}

#kboard-hompage-review-list .kboard-list {
	margin: 0;
}
#kboard-hompage-review-list .kboard-list.hompage-review-row-1 .kboard-list-item {
	margin: 5px 0;
	width: 100%;
}

#kboard-hompage-review-list .kboard-list.hompage-review-row-2 .kboard-list-item {
	width: 49%;
}

#kboard-hompage-review-list .kboard-list.hompage-review-row-4 .kboard-list-item {
	width: 24%;
}

#kboard-hompage-review-list .kboard-list.hompage-review-row-5 .kboard-list-item {
	width: 19%;
}

#kboard-hompage-review-list .kboard-list .kboard-list-item a {
	text-decoration: none;
}

#kboard-hompage-review-list .kboard-list .kboard-list-item .item-padding {
	position: relative;
	border-radius: 8px;
}
#kboard-hompage-review-list .kboard-list .kboard-list-item .item-padding::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	position: absolute;
	top: -1px;
  	left: -1px;
	border-radius: 8px;
}
#kboard-hompage-review-list .kboard-list .kboard-list-item .item-padding::after {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    display: block;
    z-index: 10;
    content: '';
    opacity: .9;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.53) 100%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
	border-radius: 8px;
}
#kboard-hompage-review-list .kboard-list .kboard-list-item .item-padding > .kboard-hompage-review-wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
	z-index: 99;
}
#kboard-hompage-review-list .kboard-list .kboard-list-item .kboard-hompage-review-wrap .kboard-hompage-review-title {
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.3;
	text-decoration: none;
	color: #fff;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	white-space: normal;
	font-size: 23px;
	font-weight: 700;
}

#kboard-hompage-review-list .kboard-list .kboard-list-item .kboard-hompage-review-wrap .kboard-hompage-review-title img {
	display: inline;
	margin: 0;
	width: auto;
	height: auto;
	vertical-align: middle;
	max-width: 100%;
}

#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info {
	text-align: left;
	color: #fff;
}
#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info * {
	font-size: 14px;
}
#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info > span::after {
	content: "•";
	display: inline-block;
    margin-left: 4px;
}
#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info > span:last-child::after {
	display: none;
}
#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info > span.writer-name::after {
	display: none;
}
#kboard-hompage-review-list .kboard-list .kboard-hompage-review-wrap .kboard-hompage-review-info .kboard-info-separator {
	color: #d2d2d2;
}

#kboard-hompage-review-list .kboard-list .kboard-list-selected .kboard-hompage-review-wrap .kboard-hompage-review-title {
	color: #4a90e2;
}


#kboard-hompage-review-list .kboard-search .kboard-selectmenu-search-button .ui-icon {
	background: url(./images/search-down-16.png) no-repeat;
	background-size: 16px;
	background-position: center;
}



#kboard-hompage-review-list .kboard-search .button-search img {
	display: inline;
	margin: 0;
	width: 20px;
	vertical-align: baseline;
	box-shadow: none;
}

#kboard-hompage-review-editor {
	overflow: hidden;
}
#kboard-hompage-review-editor .kboard-attr-row.video-url-wrap {
    display: flex;
    flex-direction: column;
	align-items: flex-start;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-name .attr-required-text {
	color: red;
	font-weight: normal;
	font-size: 12px;
}

#kboard-hompage-review-editor .kboard-attr-row.kboard-attr-content .attr-name {
	display: none;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .attr-value-option {
	display: inline;
	padding-right: 20px;
	width: auto;
	cursor: pointer;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .attr-value-option input {
	cursor: pointer;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .attr-value-label {
	display: inline;
	padding-right: 5px;
	width: auto;
	cursor: pointer;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .attr-value-label input {
	cursor: pointer;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap {
	float: left;
	width: 100%;
}

#kboard-hompage-review-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap select {
	clear: both;
	float: left;
	margin-bottom: 5px;
	width: 30%;
}

#kboard-hompage-review-editor .kboard-content {
	float: left;
	margin: 0;
	padding: 9px 0;
	width: 100%;
	background-color: white;
}

#kboard-hompage-review-editor .kboard-content .editor-textarea {
	display: inline;
	margin: 0;
	padding: 5px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 250px;
	min-height: 0;
	border: 1px solid #dcdcdc;
	box-shadow: none;
	background: none;
	background-color: transparent;
	box-sizing: border-box;
	text-indent: 0;
}

#kboard-hompage-review-editor .kboard-control {
	float: left;
	padding: 20px 0;
	width: 100%;
}

#kboard-hompage-review-editor .kboard-control .left {
	position: static;
	float: left;
}

#kboard-hompage-review-editor .kboard-control .right {
	position: static;
	float: right;
	text-align: right;
}

#kboard-hompage-review-editor.confirm {
	margin: 100px auto;
	max-width: 590px;
}

#kboard-hompage-review-editor.confirm input[type=password] {
	width: 100%;
	box-sizing: border-box;
}

#kboard-hompage-review-document {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	width: 100%;
}

#kboard-hompage-review-document .kboard-document-wrap {
	float: left;
	width: 100%;
}
#kboard-hompage-review-document .kboard-document-thumbnail {
	margin-bottom: 40px;
	text-align: center;
}

#kboard-hompage-review-document .kboard-document-thumbnail .video-wrap {
	position: relative;
	padding-bottom: 56.25%;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	background-color: black;
}

#kboard-hompage-review-document .kboard-attach-group {
	margin-bottom: 40px;
	padding: 0;
	border-radius: 8px;
	background-color: #f9f9f9;
	border: solid 1px #ebebeb;
}

#kboard-hompage-review-document .kboard-attach-group .kboard-attach-group-download {
	padding: 13px 16px;
	color: black;
}

#kboard-hompage-review-document .kboard-attach-group .kboard-attach-group-download .files-count {
	color: black;
	font-weight: normal;
	line-height: normal;
}

#kboard-hompage-review-document .kboard-attach {
	border-top: 1px solid #ebebeb;
}

#kboard-hompage-review-document .kboard-attach button {
	margin: 0;
	padding: 15px 16px;
	width: 100%;
	overflow: hidden;
	background: none;
	border: none;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

#kboard-hompage-review-document .kboard-attach .download-icon {
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 28px;
	background-color: #232cec;
	background-image: linear-gradient(to right, #6a11cb, #232cec);
	text-align: center;
}

#kboard-hompage-review-document .kboard-attach .download-icon img {
	display: inline;
	margin: 0;
	width: auto;
	vertical-align: middle;
}

#kboard-hompage-review-document .kboard-attach .file-name {
	margin-left: 36px;
	line-height: 28px;
	color: black;
	font-weight: bold;
}

#kboard-hompage-review-document .kboard-attach a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	float: left;
	line-height: 28px
	font-weight: 300;
	color: #000000;
	text-decoration: none;
}

#kboard-hompage-review-document .kboard-attach a:hover {
	color: #50afdd;
}

#kboard-hompage-review-document .kboard-category {
	padding: 0 22px;
}

#kboard-hompage-review-document .kboard-category .category-name {
	margin-right: 5px;
	color: #4a4a4a;
	font-weight: normal;
	line-height: normal;
}

#kboard-hompage-review-document .kboard-content {
	margin-bottom: 20px;
	min-height: 200px;
}

#kboard-hompage-review-document .kboard-content .content-view iframe {
	max-width: 100%;
}

#kboard-hompage-review-document .kboard-content .content-view img {
	display: inline;
	margin: 0;
	vertical-align: middle;
	max-width: 100%;
}

#kboard-hompage-review-document .kboard-content .content-view p {
	margin: 0 0 0.75em;
}

#kboard-hompage-review-document .kboard-content .content-view p:last-child {
	margin: 0;
}

#kboard-hompage-review-document .kboard-content .content-view .thumbnail-area {
	text-align: center;
}

#kboard-hompage-review-document .kboard-content .content-view .aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#kboard-hompage-review-document  .kboard-hompage-review-container {
	margin-top: 25px;
}
#kboard-hompage-review-document .kboard-document-action {
	margin-bottom: 20px;
}
#kboard-hompage-review-document .kboard-content .content-view .alignright {
	float: right;
}

#kboard-hompage-review-document .kboard-content .content-view .alignleft {
	float: left;
}

#kboard-hompage-review-document .kboard-document-action {
	padding: 0 22px 5px 22px;
	overflow: hidden;
	line-height: 1;
}

#kboard-hompage-review-document .kboard-detail a {
	text-decoration: none;
	text-shadow: none;
	box-shadow: none;
	border: 0;
}

#kboard-hompage-review-document .kboard-detail img {
	display: inline;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 50%;
}

#kboard-hompage-review-document .kboard-document-action {
	margin-bottom: 20px;
}

#kboard-hompage-review-document .kboard-document-action .left {
	position: static;
	float: left;
}

#kboard-hompage-review-document .kboard-document-action .right {
	position: static;
	float: right;
	text-align: right;
}

#kboard-hompage-review-document .kboard-button-action {
	margin: 0;
	padding: 4px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	text-align: left;
	border: 1px solid #ededed;
	background: none;
	background-color: white;
	border-radius: 2px;
	letter-spacing: normal;
	cursor: pointer;
	vertical-align: middle;
	text-shadow: none;
	box-shadow: none;
}

#kboard-hompage-review-document .kboard-button-action span {
	position: static;
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
}

#kboard-hompage-review-document .kboard-button-like {
	color: #ff5959;
}

#kboard-hompage-review-document .kboard-button-unlike {
	color: #3d62aa;
}

#kboard-hompage-review-document .kboard-button-print {
	color: gray;
}

#kboard-hompage-review-document .kboard-comments-area {
	float: left;
	width: 100%;
}

#kboard-hompage-review-document .kboard-document-navi {
	float: left;
	padding-top: 15px;
	width: 100%;
}

#kboard-hompage-review-document .kboard-document-navi a {
	display: block;
	text-decoration: none;
	border: 0;
	line-height: 20px;
	box-shadow: none;
}

#kboard-hompage-review-document .kboard-document-navi .navi-document-title {
	display: block;
	line-height: 20px;
}

#kboard-hompage-review-document .kboard-document-navi .navi-arrow {
	position: absolute;
	display: block;
	line-height: 20px;;
}

#kboard-hompage-review-document .kboard-document-navi .navi-arrow img {
	display: inline;
	margin: 0;
	width: 16px;
	vertical-align: middle;
	box-shadow: none;
}

#kboard-hompage-review-document .kboard-document-navi .kboard-prev-document {
	position: relative;
	float: left;
	width: 50%;
}


#kboard-hompage-review-document .kboard-document-navi .kboard-next-document {
	position: relative;
	float: right;
	width: 50%;
	text-align: right;
}

#kboard-hompage-review-document .kboard-control {
	float: left;
	padding: 20px 0;
	width: 100%;
}

#kboard-hompage-review-document .kboard-control .left {
	position: static;
	float: left;
}

#kboard-hompage-review-document .kboard-control .right {
	position: static;
	float: right;
	text-align: right;
}

#kboard-hompage-review-document .kboard-comments-form .comments-submit-button input[type=submit] {
	font-weight: bold;
	border-radius: 4px;
	background-image: linear-gradient(to right, #1298e3, #2575fc);
}

#kboard-hompage-review-latest {
	overflow: hidden;
}

#kboard-hompage-review-latest a {
	cursor: pointer;
	text-decoration: none;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-item {
	padding: 20px 0;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
}

#kboard-hompage-review-latest.hompage-review-row-2 .kboard-hompage-review-latest-item {
	float: left;
	width: 50%;
}

#kboard-hompage-review-latest.hompage-review-row-3 .kboard-hompage-review-latest-item {
	float: left;
	width: 33.3333%;
}

#kboard-hompage-review-latest.hompage-review-row-4 .kboard-hompage-review-latest-item {
	float: left;
	width: 25%;
}

#kboard-hompage-review-latest.hompage-review-row-5 .kboard-hompage-review-latest-item {
	float: left;
	width: 20%;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-item .kboard-hompage-review-thumbnail {
	float: left;
	width: 30%;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-item .kboard-hompage-review-thumbnail .kboard-hompage-review-foreground {
	border-radius: 3px;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-title {
	display: -webkit-box;
	margin: 0 0 8px 35%;
	overflow: hidden;
	line-height: 16px;
	height: 32px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	white-space: normal
	text-decoration: none;
	color: #000000;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-title:hover {
	color: #2575fc;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-title img {
	display: inline;
	margin: 0;
	width: 14px;
	vertical-align: middle;
	box-shadow: none;
}

#kboard-hompage-review-latest .kboard-hompage-review-latest-date {
	margin: 0 0 0 35%;
	overflow: hidden;
	text-decoration: none;
	color: #000000;
}
.autoplay-description {
	padding: 8px 0;
}
.description.youtube-id-decription {
    margin-left: 120px;
	display: none;
}
@media screen and (max-width: 600px) {

	.kboard-hompage-review-thumbnail:hover .kboard-hompage-review-foreground,
	.kboard-hompage-review-thumbnail:hover .kboard-hompage-review-foreground-search {
		display: none;
	}

	#kboard-hompage-review-list .kboard-category .kboard-category-list li a {
		font-size: 20px;
	}

	#kboard-hompage-review-list .kboard-list {
		float: left;
		margin: 0 !important;
		width: 100%;
	}

	#kboard-hompage-review-list .kboard-list .kboard-list-item {
		float: left;
		margin: 5px 0 5px 0;
		width: 100%;
	}

	#kboard-hompage-review-list .kboard-list.hompage-review-row-2 .kboard-list-item {
		margin: 5px 0.5%;
	}

	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li {
		display: none;
	}

	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.first-page,
	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.last-page {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}

	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.prev-page,
	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.next-page {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}

	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.prev-page a,
	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.next-page a {
		padding: 6px 18px;
	}

	#kboard-hompage-review-list .kboard-pagination .kboard-pagination-pages li.active {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}

	#kboard-hompage-review-editor select,
	#kboard-hompage-review-editor input[type=text],
	#kboard-hompage-review-editor input[type=email],
	#kboard-hompage-review-editor input[type=number],
	#kboard-hompage-review-editor input[type=date],
	#kboard-hompage-review-editor input[type=password],
	#kboard-hompage-review-editor input[type=file] {
		width: 100%;
		box-sizing: border-box;
	}

	#kboard-hompage-review-editor .kboard-attr-row {
		padding: 10px 0;
		align-items: flex-start;
	}

	#kboard-hompage-review-editor .kboard-attr-row .attr-name {
		padding: 0;
		width: 100%;
	}

	#kboard-hompage-review-editor .kboard-attr-row .attr-value {
		margin: 0;
		padding: 0;
	}

	#kboard-hompage-review-editor .kboard-attr-row .attr-value .kboard-tree-category-wrap select {
		margin-bottom: 10px;
		width: 100%;
	}

	#kboard-hompage-review-document .kboard-title {
		margin-bottom: 0;
		font-size: 24px;
	}

	#kboard-hompage-review-document .kboard-document-thumbnail {
		margin: 20px 0;
	}

	#kboard-hompage-review-document .kboard-attach-group {
		margin: 20px 0;
	}

	#kboard-hompage-review-document .kboard-category {
		padding: 0 5px;
	}

	#kboard-hompage-review-document .kboard-content .content-view {
		padding: 10px 5px;
	}

	#kboard-hompage-review-document .kboard-detail {
		padding: 10px 5px;
	}

	#kboard-hompage-review-document .kboard-document-action {
		padding: 10px 5px 5px 5px;
	}
	.description.youtube-id-decription  {
		margin-left: 0;
	}
}